@model IEnumerable<BoardViewModel>

@{
    ViewData["Title"] = "Board List";
}

<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                        var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "Boards")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
        {
            <Text>
                        var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
        {
            <Text>
                        var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>

<script>
    function Display
</script>

<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <script>

    </script>
    <!-- Start Page Wrap -->
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">إدارة اللجان</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ...">
                        </div>
                        <div>
                            <a asp-action="Create" class="btn btn-primary">إضافة لجنة</a>
                        </div>
                    </div>
                </div>
                <div class="block-body">
                    <table class="table table-hover js-dataTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.NameAr)</th>
                                <th>@Html.DisplayNameFor(m => m.NameEn)</th>
                                <th>@Html.DisplayNameFor(m => m.DescriptionAr)</th>
                                <th>@Html.DisplayNameFor(m => m.DescriptionEn)</th>
                                <th>@Html.DisplayNameFor(m => m.IsDeleted)</th>
                                <th>@Html.DisplayNameFor(m => m.IsActive)</th>
                                <th>الإجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var board in Model)
                            {
                                <tr>
                                    <td>@board.NameAr</td>
                                    <td>@board.NameEn</td>
                                    <td>@board.DescriptionAr</td>
                                    <td>@board.DescriptionEn</td>
                                    <td>@board.IsDeleted</td>
                                    <td>@board.IsActive</td>
                                    @* <td class="action_td text-end">
                                        <div class="d-flex gap-2">
                                            <a asp-action="Update" asp-route-id="@board.Id" class="btn btn-sm btn-success">تعديل</a>
                                            <a asp-action="Delete" asp-route-id="@board.Id" class="btn btn-sm btn-danger" >حذف</a>
                                        </div>
                                    </td> *@
                                    <td>
                                        <a asp-action="Update" asp-route-id="@board.Id" class="btn btn-primary">تعديل</a> |
                                        <a asp-action="Delete" asp-route-id="@board.Id" class="btn btn-danger">حذف</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End Page Wrap -->
    <!-- Start Footer -->
    <footer class="d-flex justify-content-center align-items-center">
        <p class="m-0 d-flex justify-content-center">
            جميع الحقوق محفوظة لجامعة الملك فيصل 2024 © | تصميم وتطوير عمادة التعلم الإلكتروني وتقنية المعلومات
        </p>
    </footer><!-- End Footer -->

</body>
</html>
