@model SHARKNA.ViewModels.BoardTalRequestsViewModel


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "BoardTalRequests")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>
<h2>إضافة طلب</h2>

<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">إضافة طلب</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="Create" method="post">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">اسم المستخدم</label>
                                        <input asp-for="UserName" type="text" placeholder="اسم المستخدم" class="form-control">
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="BoardId" class="mb-1">اسم النادي </label>
                                        <select asp-for="BoardId"
                                                class="form-control"
                                                asp-items="@ViewBag.BoardsOfList">
                                        </select>
                                        <span asp-validation-for="BoardId" class="text-danger"></span>

                                    </div>
                                </div><!-- END ITEM -->
            
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">البريد الإلكتروني</label>
                                        <input asp-for="Email" type="email" placeholder="name@email.com"
                                               class="form-control text-start">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">رقم الجوال</label>
                                        <input asp-for="MobileNumber" type="tel" placeholder="رقم الجوال" class="form-control">
                                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">الاسم كامل</label>
                                        <input asp-for="FullNameAr" type="text" placeholder="الاسم " class="form-control">
                                        <span asp-validation-for="FullNameAr" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">Full Name</label>
                                        <input asp-for="FullNameEn" type="text" placeholder="Name" class="form-control">
                                        <span asp-validation-for="FullNameEn" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1"> المهارات</label>
                                        <input asp-for="Skills" type="text" placeholder="المهارات " class="form-control">
                                        <span asp-validation-for="Skills" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
 
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1"> الخبرات</label>
                                        <input asp-for="Experiences" type="text" placeholder="الخبرات " class="form-control">
                                        <span asp-validation-for="Experiences" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                           
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" value="Create" class="btn btn-primary px-5" title="save">حفظ</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>



    </div>
</section><!-- End Page Wrap -->
<div>
    <a asp-action="Index">Back to List</a>
</div>
