@model SHARKNA.ViewModels.BoardTalRequestsViewModel

@{
    ViewData["Title"] = "تفاصيل الطلب";
}

<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <!-- Start Page Wrap -->
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">تفاصيل الطلب</h5>
                </div>
                <div class="block-body">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary text-white">
                            <h4>@Model.FullNameAr (@Model.FullNameEn)</h4>
                        </div>
                        <div class="card-body">
                            <p><strong>أسم المستخدم:</strong> @Model.UserName</p>
                            <p><strong>الأيميل:</strong> @Model.Email</p>
                            <p><strong>رقم الجوال:</strong> @Model.MobileNumber</p>
                            <p><strong>النادي:</strong> @Model.BoardName</p>
                            <p><strong>المهارات:</strong> @Model.Skills</p>
                            <p><strong>الخبرات:</strong> @Model.Experiences</p>
                            <p><strong>حالة الطلب:</strong> @Model.RequestStatusName</p>
                            @if (!string.IsNullOrEmpty(Model.RejectionReasons))
                            {
                                <p><strong>سبب الرفض:</strong> @Model.RejectionReasons</p>
                            }

                        </div>

                        <div class="card-footer mt-3 d-flex gap-2">
                            @if (Model.RequestStatusName != "تم الإلغاء")
                            {
                                <form asp-action="AcceptRequest" method="post" class="me-2">
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <button type="submit" class="btn btn-success">قبول</button>
                                </form>

                                <form asp-action="RejectRequest" method="post">
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <button type="submit" class="btn btn-danger">رفض</button>
                                </form>
                            }
                            else
                            {
                                <button class="btn btn-secondary" disabled>الطلب ملغي</button>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Page Wrap -->


</body>
</html>