@using System.Security.Claims
@{
    var FullNameAr = User.FindFirst(ClaimTypes.GivenName)?.Value;
    var username = User.FindFirst(ClaimTypes.Name)?.Value;
    var Email = User.FindFirst(ClaimTypes.Email)?.Value;
    // var userrole = User.FindFirst("Role").Value;

}
<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - لوحة التحكم بالنظام</title>

    <!-- Favico -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Assets/imgs/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/Assets/imgs/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/Assets/css/root.css">
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <!--------- CSS Liberaries ---------->
    <!-- Data Table -->
    <link rel="stylesheet" href="~/assets/lib/DataTable/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/lib/DataTable/css/datatables_customization.css" />

    <!-- customization -->
    <link rel="stylesheet" href="~/assets/css/app_rtl.css">
    <!-- main JS Scripts -->
    <script src="~/Assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>

    <!--------- JS Liberaries ---------->
    <script src="~/Assets/lib/DataTable/js/dataTables.min.js"></script>
    <script src="~/Assets/lib/quickSearch/jquery.quicksearch.js"></script>

    <!-- customization -->
    <script src="~/Assets/js/app.js"></script>

</head>

<body>
    <main class="app_wrap">
        

        <!-- Start Side Menu -->
        <nav class="side_menu">
            <div class="logo_wrap">
                <img src="~/assets/imgs/KFU_Logo_Dark.png" alt="Logo">
            </div>
            <div class="menu_links">
                <ul>
                    <li>
                        <a href="/Admin">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
                                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
                                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor">
                                </rect>
                                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
                            </svg>
                            <span>الرئيسية</span>
                        </a>
                    </li>

                    <li class="sub_menu">
                        <a href="JavaScript:void(0)">
                            <!-- New SVG Icon (User with Gear) -->
                            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" fill="currentColor" />
                                <path d="M12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="currentColor" />
                                <path d="M18.94 15.58C19.15 15.58 19.36 15.65 19.53 15.78L20.49 16.42C20.74 16.6 20.83 16.93 20.71 17.22L20.15 18.49C20.5 18.95 20.82 19.43 21.08 19.94L22.38 20.18C22.68 20.23 22.92 20.5 22.92 20.81V22.19C22.92 22.5 22.68 22.77 22.38 22.82L21.08 23.06C20.82 23.57 20.5 24.05 20.15 24.51L20.71 25.78C20.83 26.07 20.74 26.4 20.49 26.58L19.53 27.22C19.36 27.35 19.15 27.42 18.94 27.42C18.74 27.42 18.53 27.35 18.36 27.22L17.4 26.58C17.15 26.4 17.06 26.07 17.18 25.78L17.74 24.51C17.39 24.05 17.07 23.57 16.81 23.06L15.51 22.82C15.22 22.77 14.97 22.5 14.97 22.19V20.81C14.97 20.5 15.22 20.23 15.51 20.18L16.81 19.94C17.07 19.43 17.39 18.95 17.74 18.49L17.18 17.22C17.06 16.93 17.15 16.6 17.4 16.42L18.36 15.78C18.53 15.65 18.74 15.58 18.94 15.58ZM18 22C18.83 22 19.5 21.33 19.5 20.5C19.5 19.67 18.83 19 18 19C17.17 19 16.5 19.67 16.5 20.5C16.5 21.33 17.17 22 18 22Z" fill="currentColor" />
                            </svg>

                            <span>المستخدمين</span>

                        </a>
                        <ul>
                            <li><a href="@Url.Action("Index", "Permissions", new { area = "Admin" })"><span>الصلاحيات</span></a></li>
                            <li><a href="@Url.Action("Create", "Permissions", new { area = "Admin" })"><span>إضافة صلاحية</span></a></li>
                        </ul>
                    </li>

                    <li class="sub_menu">
                        <a href="JavaScript:void(0)">
                            <!-- New SVG Icon (Graduation Cap) -->
                            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 11C17.6569 11 19 9.65685 19 8C19 6.34315 17.6569 5 16 5C14.3431 5 13 6.34315 13 8C13 9.65685 14.3431 11 16 11Z" fill="currentColor" />
                                <path d="M8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11Z" fill="currentColor" />
                                <path d="M2 19C2 16.2386 5.58172 14 9 14C12.4183 14 16 16.2386 16 19V20H2V19Z" fill="currentColor" />
                                <path d="M16 14C17.9204 14 19.7435 14.5194 21 15.3784V20H17V19C17 17.5726 16.5929 16.2645 15.8325 15.2008C15.055 14.1183 14.0901 13.3987 13 13.0841" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <span>اللجان</span>

                        </a>
                        <ul>

                            <li><a href="@Url.Action("Index", "Boards" ,  new { area = "Admin" })"><span>عرض اللجان</span></a></li>
                            <li><a href="@Url.Action("Create", "Boards" ,  new { area = "Admin" })"><span>إضافة لجنة </span></a></li>
                            <li><a href="@Url.Action("Index", "BoardRoles" ,  new { area = "Admin" })"><span>عرض الأدوار </span></a></li>
                            <li><a href="@Url.Action("Create", "BoardRoles" ,  new { area = "Admin" })"><span> إضافة أدوار </span></a></li>

                        </ul>
                    </li>

                    <li class="sub_menu">
                        <a href="JavaScript:void(0)">
                            <!-- New SVG Icon -->
                            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 2H7C5.89543 2 5 2.89543 5 4V20C5 21.1046 5.89543 22 7 22H17C18.1046 22 19 21.1046 19 20V4C19 2.89543 18.1046 2 17 2Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 2V6H15V2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 10H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 14H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 18H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <span>طلبات الأندية</span>

                        </a>
                        <ul>

                            <li><a href="@Url.Action("Admin", "BoardRequests" ,  new { area = "Admin" })"><span>إدارة الطلبات </span></a></li>
                            <li><a href="@Url.Action("Archive", "BoardRequests" ,  new { area = "Admin" })"><span> أرشيف الطلبات </span></a></li>
                            <li><a href="@Url.Action("Members", "BoardMembers" ,  new { area = "Admin" })"><span>إدارة الأعضاء</span></a></li>


                        </ul>
                    </li>


                    <li class="sub_menu">
                        <a href="JavaScript:void(0)">
                            <!-- New SVG Icon (Event Ticket) -->
                            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 2V22" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M4 2L20 8L4 14V2Z" fill="currentColor" />
                            </svg>

                            <span>الفعاليات</span>

                        </a>
                        <ul>

                            <li><a href="@Url.Action("ActiveEvents", "EventRequests",  new { area = "Admin" } )"><span>عرض الفعاليات</span></a></li>
                            <li><a href="@Url.Action("Create", "EventRequests",  new { area = "Admin" })"><span>إضافة فعالية</span></a></li>
                            <li><a href="@Url.Action("Admin", "EventRequests",  new { area = "Admin" })"><span></span>إدارة الطلبات</a></li>
                            <li><a href="@Url.Action("AdminArsh", "EventRequests",  new { area = "Admin" })"><span></span>أرشيف الطلبات</a></li>
                            <li><a href="@Url.Action("Index", "EventAttendence",  new { area = "Admin" })"><span></span>سجل الحضور</a></li>

                        </ul>
                    </li>

                   
                </ul>
            </div>
            <div class="btm_link">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn d-flex align-items-center" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" width="12" height="2" rx="1" transform="matrix(-1 0 0 1 15.5 11)" fill="currentColor"></rect>
                            <path d="M13.6313 11.6927L11.8756 10.2297C11.4054 9.83785 11.3732 9.12683 11.806 8.69401C12.1957 8.3043 12.8216 8.28591 13.2336 8.65206L16.1592 11.2526C16.6067 11.6504 16.6067 12.3496 16.1592 12.7474L13.2336 15.3479C12.8216 15.7141 12.1957 15.6957 11.806 15.306C11.3732 14.8732 11.4054 14.1621 11.8756 13.7703L13.6313 12.3073C13.8232 12.1474 13.8232 11.8526 13.6313 11.6927Z" fill="currentColor"></path>
                            <path d="M8 5V6C8 6.55228 8.44772 7 9 7C9.55228 7 10 6.55228 10 6C10 5.44772 10.4477 5 11 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H11C10.4477 19 10 18.5523 10 18C10 17.4477 9.55228 17 9 17C8.44772 17 8 17.4477 8 18V19C8 20.1046 8.89543 21 10 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H10C8.89543 3 8 3.89543 8 5Z" fill="currentColor"></path>
                        </svg>
                        <span>تسجيل الخروج</span>
                    </button>

                    <form id="logoutForm" asp-action="Logout" asp-controller="Users" method="post" style="display: none;">
                        @Html.AntiForgeryToken()
                    </form>
                }

            </div>
        </nav><!-- End Side Menu -->
        <section class="side_content">
            <!-- Start Header Navbar -->
            <header>
                <ul class="nav me-auto">
                    <li class="nav-item me-2">
                        <a class="nav-link btn btn-dark-rgb text-gray-800 br-10" id="menu_state_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 26 26"
                                 stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M6 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M16 4v16" />
                                <path d="M10 10l2 2l-2 2" />
                            </svg>
                        </a>
                    </li>

                </ul>
                <ul class="nav d-flex align-items-center">
                    <li class="nav-item dropdown ms-2">
                        <a style="cursor: pointer; text-decoration: none; color: inherit;"
                           data-bs-toggle="dropdown" aria-expanded="false" aria-label="Account">
                            <i class="bi bi-person-circle me-2" style="font-size: 1.2rem; color: #0a626a"></i>
                            <span>@Email</span>
                        </a>

                        <ul class="dropdown-menu account_dd br-stand border-1 border-gray-300 p-4 shadow" aria-labelledby="account">
                            <li class="mb-2">
                                <div class="d-flex flex-column">

                                    <h6 class="mb-0">@FullNameAr</h6>
                                    <small class="text-muted">@Email</small>
                                    <small class="text-muted">@username</small>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-person-circle me-2"></i>
                                    الملف الشخصي
                                </a>
                            </li>

                            @* <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-translate me-2"></i>
                            English Language
                            </a>
                            </li> *@
                            <li>
                                <form id="logoutForm" asp-area="" asp-controller="Users" asp-action="Logout" method="post" style="display: inline;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="dropdown-item d-flex align-items-center">
                                        <i class="bi bi-box-arrow-right me-2"></i>
                                        تسجيل الخروج
                                    </button>
                                </form>
                            </li>

                            <li><hr class="dropdown-divider"></li>

                            <!-- Logout Section -->

                        </ul>
                    </li>
                </ul>


            </header><!-- End Header Navbar -->
           
            
            <!-- Start Page Wrap -->
            <section class="page_wrap">
                <div class="page_content">
                    @RenderBody()
                </div>
            </section><!-- End Page Wrap -->
            <!-- Start Footer -->
            <footer class="d-flex justify-content-center align-items-center">
                <p class="m-0 d-flex justify-content-center">
                    جميع الحقوق محفوظة لجامعة الملك فيصل @DateTime.Now.Year © | تصميم وتطوير
                    عمادة التعلم الإلكتروني وتقنية المعلومات
                </p>
            </footer><!-- End Footer -->
        </main><!-- End Content wrapper -->
    </main>

    <script>
        $("#addSectionBtn").on('click', function () {
            let sections_item_length = $('.sub_sections_wrap').find('.sub_sections_item').length
            $('.sub_sections_wrap').append(`
                                        <div class="sub_sections_item">
                                            <i class="bi bi-trash3 delete_sub_sec"></i>
                                            <div class="form-group">
                                                <label for="ss_name_${sections_item_length}">اسم الحقل</label>
                                                <input type="text" name="ss_name_${sections_item_length}" id="ss_name_${sections_item_length}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="ss_type_${sections_item_length}">نوع الحقل</label>
                                                <select name="ss_type_${sections_item_length}" id="ss_type_${sections_item_length}" class="form-select">
                                                    <option value="checkbox">checkbox</option>
                                                    <option value="radiobox">radioBox</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="ss_req_${sections_item_length}">
                                                    <label class="form-check-label" for="ss_req_${sections_item_length}">
                                                        مطلوب اجباري
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    `)
        })


        $(".sub_sections_wrap").on('click', '.delete_sub_sec', function (e) {
            $(this).parent('.sub_sections_item').remove()
        })
    </script>
</body>

</html>
