@model IEnumerable<EEventAttendenceViewModel>

@{
    ViewData["Title"] = "Event Attendance Members sheets";
}

<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                    var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "EventAttendence")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
        {
            <Text>
                                    var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
        {
            <Text>
                                    var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>


<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <!-- Start Page Wrap -->
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">التحضير</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ...">
                        </div>

                    </div>
                </div>
                <form asp-action="Members" method="post">


                    <div class="block-body">
                        <table class="table table-hover js-dataTable">
                            <thead>
                                <tr>

                                    <th>@Html.DisplayNameFor(model => model.NameAr)</th>
                                    <th>@Html.DisplayNameFor(m => m.EEmail)</th>

                                    <th>
                                        <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)" /> تحضير الجميع
                                    </th> <!-- Master Checkbox -->
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in Model)
                                {
                                    bool check = false;
                                    <tr>


                                        <td>@member.NameAr</td>
                                        <td>@member.EEmail</td>
                                        <td>
                                            <input type="checkbox" class="attendance-checkbox" name="attendanceStatus[@member.Id]" value="Present" checked="@{member.IsAttend = true ? true: false;
} " />

                                            @*                                       <input type="checkbox" class="attendance-checkbox" name="attendanceStatus[@member.Id]" value="Present" checked="@(member.IsAttend ? "checked" : "")" />
                                        *@
                                        </td>



                                        @*             <td>
                                    <a asp-action="Save Attend" asp-route-id="@member.Id" class="btn btn-primary"> تأكيد الحضور </a> |

                                    </td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*                     <button type="submit" class="btn btn-success">تأكيد الحضور </button>
                        *@
                        <a asp-action="Members" type="submit" class="btn btn-success"> تأكيد الحضور </a>


                    </div>
                </form>
            </div>
        </div>
    </section><!-- End Page Wrap -->


    <script>
        function toggleSelectAll(source) {
            checkboxes = document.querySelectorAll('.attendance-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>

</body>
</html>