@model SHARKNA.ViewModels.BoardRequestsViewModel

@{
    string boardIdString = Context.Request.Query["boardId"];

    Guid boardId = Guid.Empty;
}
<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                                                                            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("UserDetails", "BoardRequests")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
        {
            <Text>
                                                                                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
        {
            <Text>
                                                                                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>

<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">@Model.BoardName</h5>
            </div>
            <div class="block-body py-5">
                <table class="table table-hover js-dataTable">
                        <label id="lblError" d style="color:red; display:none">هذا المستخدم غير موجود في قاعدة البيانات</label>
                        <form asp-action="Create" method="post">
                            
                               
                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="" class="mb-1">@Html.DisplayNameFor(m => m.UserName)</label>
                                        <input asp-for="UserName" type="text" class="form-control" id="UserName">
                                    <span asp-validation-for="UserName" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="" class="mb-1">@Html.DisplayNameFor(m => m.FullNameAr) </label>
                                    <input asp-for="FullNameAr" type="text" class="form-control" id="FullNameAr">
                                    <span asp-validation-for="FullNameAr" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="" class="mb-1">@Html.DisplayNameFor(m => m.Email)</label>
                                    <input asp-for="Email" type="email" class="form-control text-start" id="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="" class="mb-1">@Html.DisplayNameFor(m => m.MobileNumber)</label>
                                    <input asp-for="MobileNumber" type="tel" placeholder=" " class="form-control" id="MobileNumber" maxlength="13">
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <input asp-for="BoardId" type="hidden" />
                                    <label for="" class="mb-1">@Html.DisplayNameFor(m => m.BoardId)</label>
                                    <input asp-for="BoardName" type="text" class="form-control" readonly />
                                    <span asp-validation-for="BoardName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="" class="mb-1">@Html.DisplayNameFor(m => m.BoardDescription)</label>
                                    <textarea asp-for="BoardDescription" type="text" class="form-control" readonly></textarea>
                                    <span asp-validation-for="BoardDescription" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class=" d-flex justify-content-center">
                            <a href="@Url.Action("UserDetails", "BoardRequests")" class="btn btn-secondary col-3 mx-2">العودة</a>
                            <button type="submit" value="Create" class="btn btn-primary col-3 mx-2" title="save">تسجيل</button>
                        </div>
                    </form>


                </table>
            </div>
        </div>



    </div>
</section>

<script>

        $("#UserName").on("change", function () {
            var username = $(this).val();
            showValue(username); // Call the function with the username entered
        });

    function showValue(val) {
        // Make the AJAX call to fetch user data
        $.getJSON('@Url.Action("GetUserInfo", "BoardRequests")', { id: val }, function (result) {
            if (result != null) {
                // Populate the form fields with the user data
                $("#FullNameAr").val(result.FullNameAr);
                $("#FullNameEn").val(result.FullNameEn);
                $("#Email").val(result.Email);
                $("#MobileNumber").val(result.MobileNumber);
                $("#lblError").hide(); // Hide the error label if the user is found
            } else {
                // Clear the fields if no user is found and show the error label
                $("#FullNameAr").val("");
                $("#FullNameEn").val("");
                $("#Email").val("");
                $("#MobileNumber").val("");
                $("#lblError").show(); // Show error label if user not found
            }
        }).fail(function () {
            // Handle any errors during the request
            console.log("Error fetching user info.");
            $("#lblError").show(); // Show error label in case of a request failure
        });
    }


</script>