@model IEnumerable<SHARKNA.ViewModels.BoardViewModel>


@{
    ViewData["Title"] = "Board Members List";

}


<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "BoardMembers")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
        {
            <Text>
                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
        {
            <Text>
                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>


<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <!-- Start Page Wrap -->
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">إدارة أعضاء الأندية</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ...">
                        </div>
                        
                    </div>
                </div>
                <div class="block-body">
                    <table class="table table-hover js-dataTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.NameAr)</th>
                                <th>الإجراءات</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>

                                    <td>@user.NameAr</td>


                                    <td >
                                        <form asp-action="Members" method="get">
                                            <input type="hidden" name="boardId" value="@user.Id" />
                                            <button type="submit" class="btn btn-primary col-6" style="background-color: rgb(15, 113, 121); color: white;">الاعضاء</button>
                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
   

</body>
</html>
