@model SHARKNA.ViewModels.BoardRequestsViewModel

@{
    // Retrieve the boardId from the query string (assuming it's always there)
    string boardIdString = Context.Request.Query["boardId"];

    Guid boardId = Guid.Empty;
}
<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                                                                var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "BoardRequests")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
        {
            <Text>
                                                                                var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
        else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] != null)
        {
            <Text>
                                                                                var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>
@* <h2> التسجيل في نادي @Model.BoardName</h2> *@

<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">@Model.BoardName</h5>
            </div>
            <div class="block-body py-5">
                <table class="table table-hover js-dataTable">
                    
                        <form asp-action="Create" method="post">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">@Html.DisplayNameFor(m => m.UserName)</label>
                                        <input asp-for="UserName" type="text" class="form-control" readonly>
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">@Html.DisplayNameFor(m => m.FullNameAr) </label>
                                        <input asp-for="FullNameAr" type="text" class="form-control" readonly>
                                        <span asp-validation-for="FullNameAr" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">@Html.DisplayNameFor(m => m.Email)</label>
                                        <input asp-for="Email" type="email" class="form-control text-start" readonly>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">@Html.DisplayNameFor(m => m.MobileNumber)</label>
                                        <input asp-for="MobileNumber" type="tel" placeholder=" " class="form-control" maxlength="13" readonly>
                                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <input asp-for="BoardId" type="hidden" />
                                        <label for="" class="mb-1">@Html.DisplayNameFor(m => m.BoardId)</label>
                                        <input asp-for="BoardName" type="text" class="form-control" readonly />
                                        <span asp-validation-for="BoardName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">@Html.DisplayNameFor(m => m.BoardDescription)</label>
                                        <textarea asp-for="BoardDescription" type="text" class="form-control" readonly></textarea>
                                        <span asp-validation-for="BoardDescription" class="text-danger"></span>
                                    </div>
                                </div>





                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" value="Create" class="btn btn-primary w-100" title="save">تسجيل</button>
                            </div>


                        </form>


                  
                </table>
            </div>
        </div>



    </div>
</section>



