@model IEnumerable<BoardRequestsViewModel>

@{
    ViewData["Title"] = "Board Requests List";
}

<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">
<body>
    <!-- Start Page Wrap -->
    <section class="page_wrap">
        <div class="page_content">
            <div class="block mb-4">
                <div class="block-header border-bottom px-4 py-3">
                    <h5 class="m-0">ادارة طلبات الاندية</h5>
                    <div class="d-flex gap-2">
                        <div class="form-group">
                            <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ...">
                        </div>
                        <div>
                            <a asp-action="Create" class="btn btn-primary">التسجيل في نادي </a>
                        </div>
                    </div>
                </div>
                <div class="block-body">
                    <table class="table table-hover js-dataTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.UserName)</th>
                                <th>@Html.DisplayNameFor(m => m.Email)</th>
                                <th>@Html.DisplayNameFor(m => m.BoardId)</th> 
                                <th>@Html.DisplayNameFor(m => m.MobileNumber)</th>
                                <th>@Html.DisplayNameFor(m => m.FullNameAr)</th>
                                <th>@Html.DisplayNameFor(m => m.FullNameEn)</th>
                                <th>@Html.DisplayNameFor(m => m.RequestStatusId)</th>

                                <th>الإجراءات</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.BoardId</td> 
                                    <td>@user.MobileNumber</td>
                                    <td>@user.FullNameAr</td>
                                    <td>@user.FullNameEn</td>
                                    <td>@user.RequestStatusId</td>
                                    <td class="action_td text-end">
                                        <div class="d-flex gap-2">
                                            @* <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-success">تعديل</a> *@
                                            <a asp-action=" " asp-route-id="@user.Id" class="btn btn-sm btn-danger">الغاء الطلب</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End Page Wrap -->
    <!-- Start Footer -->
    <footer class="d-flex justify-content-center align-items-center">
        <p class="m-0 d-flex justify-content-center">
            جميع الحقوق محفوظة لجامعة الملك فيصل 2024 © | تصميم وتطوير عمادة التعلم الإلكتروني وتقنية المعلومات
        </p>
    </footer><!-- End Footer -->

</body>
</html>
