@model IEnumerable<SHARKNA.ViewModels.EventRequestViewModel>

<section class="page_wrap">
    <div class="page_content">
        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h2 class="m-0">طلبات تحت الدراسة</h2>
                  <div class="d-flex gap-2">

                    <div class="form-group">
                        <input type="text" class="form-control table__quick_search" placeholder="البحث السريع ...">
                    </div>
                    <!-- رابط لصفحة الأرشيف -->
                    <a href="@Url.Action("AdminArsh", "EventRequests")" class="btn btn-secondary"> أرشيف الطلبات</a>
                 </div>
              
            </div>
            <div class="block-body">
                <table class="table table-hover js-dataTable">
                    <thead>
                        <tr>
                            <th>الفعالية</th>
                            <th>اللجنة</th>
                            <th>حالة الطلب</th>
                            <th>الإجراءات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model.Where(r => r.RequestStatusName == "تحت الدراسة"))
                        {
                            <tr>
                                <td>@request.EventName</td>
                                <td>@request.BoardName</td>
                                <td>@request.RequestStatusName</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-action="DetailsAdmin" asp-route-id="@request.Id" class="btn btn-primary btn-sm details-btn">عرض التفاصيل</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
